/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #6082B6;
}

* {
  user-select: none;
}

.min-height-screen {
  min-height: 100vh;
  min-height: 100dvh;
}

.selectable {
  user-select: text;
}

html {
  overflow: hidden auto;
}

body {
  background: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
}

button.primary {
  background: var(--primary);
  padding: 0.75rem 1.5rem;
  border-radius: 9999px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}